@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: light dark;
}


body {

  font-family: 'Comfortaa Variable', system-ui;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: #050505;
}

