@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa Variable', system-ui;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Esto es para que el scroll sea suave */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.important-color {
  color: #27EEF5;
  
}

.important-color-light {
  color: #185287;
  
}