---
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";

import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
import Certificates from "../components/Certificates.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Portfolio-JoseGonzalez" description="">
  <main class="px-4">
    <Hero />

    <SectionContainer id="experiencia" title="Experiencia">
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" title="Proyectos">
      <Projects />
    </SectionContainer>

    <SectionContainer id="tecnologias" title="Tecnologías">
      <Technologies />
    </SectionContainer>

    <SectionContainer id="certificaciones" title="Certificaciones">
      <Certificates />
    </SectionContainer>
  </main>
</Layout>
