---
const links = [
  { href: "#top", label: "Inicio" },
  { href: "#experiencia", label: "Experiencia" },
  { href: "#proyectos", label: "Proyectos" },
  { href: "#tecnologias", label: "Tecnologías" },
  { href: "#certificaciones", label: "Certificaciones" },
];
---

<footer class="bg-transparent border-t border-gray-200 dark:border-gray-800">
  <div
    class="w-full mx-auto max-w-6xl px-6 py-6 md:flex md:items-center md:justify-between"
  >
    <div class="text-center md:text-left mb-4 md:mb-0">
      <span class="text-sm text-gray-600 dark:text-gray-400">
        © 2025 <a
          href="https://github.com/jdg03"
          class="text-gray-800 dark:text-gray-200 hover:text-[#27EEF5] dark:hover:text-[#27EEF5] transition-colors"
        >
          José González
        </a>
        <p class="text-xs text-gray-500 dark:text-gray-500 mt-1">
          <a
            href="https://svgl.app/"
            target="_blank"
            class="hover:text-[#27EEF5] dark:hover:text-[#27EEF5] transition-colors"
          >
            Iconos de svgl.app
          </a>
        </p>
      </span>
    </div>

    <ul class="flex flex-row gap-x-4 text-black dark:text-white">
      {
        links.map((link) => (
          <li class="list-none">
            <a
              class="hover:text-[#27EEF5] opacity-80 dark:hover:text-[#27EEF5] transition-colors "
              href={link.href}
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
