---
const { href, title } = Astro.props;
---

<a
  target="_blank"
  href={href}
  aria-label={`Ver código en GitHub del proyecto ${title}`}
  role="link"
  class="inline-flex items-center justify-center gap-2 px-3 py-2 text-base
  bg-white text-black border border-gray-300
  hover:bg-gray-100 hover:border-gray-400
  dark:bg-gray-800 dark:text-white dark:border-gray-700
  dark:hover:bg-black dark:hover:border-gray-900
  transition group max-w-fit rounded-xl focus:outline-none
  focus-visible:ring-2 focus-visible:ring-yellow-500/80"
>
  <slot />
</a>
