<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="group
    inline-flex
    max-w-fit md:px-4
    items-center
    justify-center
    gap-2
    rounded-full
    border
    border-transparent
    px-4
    py-1
    text-md
    text-gray-100
    transition
    hover:border-gray-700
    focus:outline-none
    focus-visible:outline-none
    focus-visible:ring
    focus-visible:ring-white
    focus-visible:ring-yellow-500/80
    focus-visible:ring-offset-2
    active:bg-black
    dark:bg-gray-800
    dark:text-white
    dark:hover:border-gray-300"
>
  <slot />
</a>
